
.section{
    background: url(../images/sectiontop.png) top no-repeat, url(../images/sectionbottom.png) bottom no-repeat;
    background-size:contain;
    background-size: 102% 156px;
    width:100%;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-weight:800;
}

.sectionTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
}

h2,h3,h4,h5,h6{
    font-family: 'PT Serif', serif;
}

p{
    font-family: 'PT Serif', serif;
}

.topcarousel{
height:80%;
width:90%;
}
h1{
    padding-left:25px;
}
.team, .roles, .protoFeatures{
    padding-left:25px;
}

.mb-3{
    margin: 0px 5% 0px 5%;
}

.img-right{
    float:right;
}

.img-fluid{
    width:100%;
}

.intro{
display:flex;
width:100%;
flex-direction: column;
justify-content: center;
align-items: center;
}

.introLogo{

    width:200px;
}
.cardContainer{
    margin-bottom:10px;
}

.text-align-right{
    text-align:right;
}
.storyCards{
    width:90%;
}
.prototypingSection{
    height:30%;
}

.protoCarousel{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    height:90%;

}
.bottomcarousel{
    margin:auto;
    width:100%;
    height:100%;
}
.leftcarousel{
    margin:auto;
    width:100%;
    height:100%;
}

.rightcarousel{
    margin:auto;
    width:100%;
    height:100%;
}

.carousel-inner-left{

    width:80%;
    height:80%;
    margin-left:20%;
    margin-right:auto;
}

.carousel-inner-mid{

    width:100%;
    height:100%;
}

.carousel-inner-right{

width:80%;
height:80%;
margin-right:20%;
margin-left:auto;

}

.logo{
    margin-right: 15px;
}
.topgap{
    height:85px;
}

.topgap2{
    height:55px;
    background-color:#EBEBEB;
}
.topgap2w{
    height:55px;

}

.topgapsm{
    height:1px;
    background-color:#EBEBEB;
}

.toc{
    background-color:rgba(255,255,255,0.9);
    z-index:100 !important;
    width:100%;
    height:50px;
    align-items:center;
}

.nav-item{
    z-index:101;
}

.navigationSection, .researchSection, .ideationSection, .testingSection{
    background-color:#EBEBEB;
}

.projectInformation{
    text-align:center;
}

.testingCard{
    text-align:center;
}
.closingflexbox{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}